mpmissions/regular.namalsk/storage_5/
mpmissions/Central*
@*
addons/
appcache/
backups/
battleye/
bliss/
changes/
config/
docs/
dta/
keys/
logs/
steamapps/
chernarusplusmap.jpg
dayz.gproj
DayZSC.exe
DayZSC.ini
DayZSC.log
DayZServer_x64.exe
omega.cfg.bak
profiles/Airdrop/AirdropSettings_bakup*.*
profiles/BattlEye/BEServer_x64.dll
profiles/BoiMissions/Players/
profiles/DataCache/
profiles/Users/
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
profiles/PermissionsFramework/
*.rpt
*.log
*log*.txt
*.mdmp
*.adm